*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin
.DS_Store
/build
/captures
/log
/docs/issues.md
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.p12
*.pem
*.der

__pycache__/
*.py[cod]

docs/update/
h5/
tools/output/
uni-appX/
.backup/


tools/cli/data
tools/cli/output

